<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Shop - {{ title }} </title>
</head>
<body>
    <h1>Inventory of our WeIrDeSt items</h1>
    
    {% for order in orders %}
       
        <section>
            <p>
                <b> {{order.title}}</b> : Cost: £{{   order.cost }} : there are {{ order.stock  }} left
            </p>


        </section>

    {% endfor %}
    
</body>
</html>